#root {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #5bc0be, #05c0a5), 
  url('./assets/thomas-tucker-KraXdvWzKNw-unsplash.jpg');
  color: rgba(247, 229, 229, 0.918);

}

.App {
  font-family: 'Rubik', 'sans-serif';
}
